$primary-color: #4d94ff;

$primary-color: #4d94ff;
$secondary-color: #6c9ecf;
$secondary-dark: darken($secondary-color, 20%);
$light-color: #e1f2fb;
$text-color: #333;
$background-color: #f2f8fc;
$shadow-color: rgba(0, 0, 0, 0.1);
$primary-hover: darken($primary-color, 10%); // Definición de la variable

// Breakpoints
$breakpoint-lg: 1200px;
$breakpoint-md: 992px;
$breakpoint-sm: 768px;
$breakpoint-xs: 576px;